<section class="section section-comment bg-white">
    <div class="container-xl comment-block">
        <div class="row mb-5">
            <div class="col-auto">
                <div class="title-h1 m-0">Отзывы</div>
            </div>
            <div class="col-auto d-flex align-items-center">
                <div class="btn btn-secondary btn-sm">Смотреть все</div>
            </div>
        </div>
        <div class="swiper-out-nav swiper-nav-arrow ">
            <div class="row mb-3">
                <div class="col-auto offset-md-3 ps-md-2 ps-xl-5">
                    <div class="d-flex align-items-center">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next mr-5"></div>
                        <div class="fraction-pagination"></div>
                    </div>
                </div>
            </div>

            <div class="swiper swiper-creative">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="row justify-content-between">
                            <div class="col-6 col-md-3 col-lg-3 d-flex justify-content-center align-items-center">
                                <div class="row d-flex justify-content-center">
                                    <picture class="shadow-circle">
                                        <source srcset="../img/page-main/brand.webp">
                                        <img src="../img/page-main/brand.png" loading="lazy" width="134" height="63" alt="Автор">
                                    </picture>
                                </div>
                            </div>
                            <div class="col-6 d-flex d-md-none justify-content-center align-items-center">
                                <div class="movie-play movie-circle">
                                    <picture>
                                        <source srcset="../img/page-main/movie-rusal.webp">
                                        <img src="../img/page-main/movie_lazy.png" width="192" height="192" loading="lazy" alt="Русал">
                                    </picture>
                                    <button type="button" class="popup-movie">
                                            <span class="visually-hidden">
                                                СМОТРЕТЬ ВИДЕО
                                            </span>
                                    </button>
                                    <div class="circle-text">
                                        <img src="../img/icons/movie-text.svg" class="injectable" alt="t"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-2 mb-lg-0 ps-md-2 ps-xl-5">
                                <div class="title-h1 title-thin text-center text-md-start">
                                    ООО РУСАЛ
                                </div>
                                <div class="comment-block-text text-center text-md-start">
                                    Более 22-х лет успешно работает на российском рынке информационных технологий.
                                    Компания зарекомендовала себя, как надежный партнер в реализации поставок
                                    оборудования,
                                    обслуживания компьютерной техники, проектирования и ремонта IT-структур
                                    коммерческих
                                    и
                                    государственных предприятий.
                                </div>
                                <a href="#" class="link d-flex justify-content-center justify-content-md-start">
                                    Читать полностью
                                </a>
                            </div>
                            <div class="col-md-3 d-none d-md-flex justify-content-center align-items-center">
                                <div class="movie-play movie-circle">
                                    <picture>
                                        <source srcset="../img/page-main/movie-rusal.webp">
                                        <img src="../img/page-main/movie_lazy.png" width="192" height="192" alt="Русал">
                                    </picture>
                                    <button type="button" class="popup-movie">
                                        <span class="visually-hidden">СМОТРЕТЬ ВИДЕО</span>
                                    </button>
                                    <div class="circle-text">
                                        <img src="../img/icons/movie-text.svg" class="injectable" alt="t"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
