<footer class="section bg-white">
	<div class="container footer-block">
		<div class="row justify-content-between">
			<div class="col-10 col-sm-6 col-md-4 d-flex flex-column">
                <a class="brand d-flex align-items-center" href="/">
                    <picture class="d-flex me-2">
                        <img src="../img/logo.svg" class="injectable" width="40" height="40">
                    </picture>
                    <span class="d-block">ETF - FLASHTRADE</span>
                </a>
				<small class="py-3 py-lg-5">
					Компания ETF-FlashTrade производит поставки компьютеров, серверов, оргтехники,
					расходных материалов и программного обеспечения.
				</small>
			</div>
			<div class="col-md-2 d-none d-md-block offset-xl-1">
				<nav class="footer-block-navbar navbar-nav d-flex flex-column align-items-start">
					<li class="nav-item">
						<a href="#" class="nav-link">
							Услуги
						</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link">
							Для кого?
						</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link">
							Компетенции
						</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link">
							Отзывы
						</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link">
							Проекты
						</a>
					</li>
				</nav>
			</div>
			<div class="col-2 col-sm-1 col-md-1">
				<div class="footer-block-social">
					<ul class="list-social d-flex flex-column p-0">
						<li class="list-social-item">
							<a href="#" class="text-primary">
                                <img src="../img/icons/telegram-plane.svg" width="24" height="24" fill="#000" class="injectable">
							</a>
						</li>
						<li class="list-social-item">
							<a href="#" class="text-primary">
								<i class="fab fa-whatsapp"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-5 col-md-4">
				<div class="title-h3 title-thin phone mb-2 mb-md-0">
					<a href="tel:+74952255249">
						+7 (495) 225-52-49
					</a>
				</div>
				<div class="title-h4 title-thin address">
					Москва, пос. Московский бизнес-парк
					“РУМЯНЦЕВО” стр. 2 корп. В оф. 322 В
				</div>
			</div>
		</div>
		<div class="hr hr-grey"></div>
		<div class="row justify-content-between">
			<div class="col-md-6">
				<div class="copyright">
					<p>
						© 2021 Все права защищены.
					</p>
					<p>
						Вся информация на сайте носит информационный характер и не является публичной офертой,
						определяемой положением статьи 429 ГК РФ.
					</p>
				</div>
			</div>
			<div class="col-md-3 d-flex justify-content-start justify-content-lg-end">
				<a href="https://www.diol-it.ru/" class="diol-copyright d-flex align-items-center">
                    <picture>
                        <img src="./img/diol.png" class="mx-2" width="66" height="39" alt="diol">
                    </picture>
					Разработка сайта
				</a>
				<div class="counters"></div>
			</div>
		</div>
	</div>
</footer>
