<head>
    <meta charset="utf-8"/>
    <title>ETF</title>
    <meta name="description" content="ETF"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover"/>
    <meta name="csrf-token" content="test"/>

<!--    <meta property="og:title" content="test"/>-->
<!--    <meta property="og:type" content="test"/>-->
<!--    <meta property="og:url" content="test"/>-->
<!--    <meta property="og:image" content=""/>-->

    <link rel="icon" href="../../meta/favicon.ico" sizes="any"/>
    <link rel="icon" href="../../meta/icon.svg" type="image/svg+xml"/>
    <link rel="apple-touch-icon" href="../../meta/icon.png"/>

    <link rel="manifest" href="../../meta/site.webmanifest"/>
    <meta name="theme-color" content="#fafafa"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet"/>
</head>
