<header class="sticky-top">
    <nav class="navbar navbar-expand-xl navbar-light">
        <div class="container flex-nowrap">
            <div class="navbar-left d-flex align-items-center">
                <a class="navbar-brand brand d-flex align-items-center" href="/">
                    <picture class="d-flex me-0 me-smx-2">
                        <img src="../img/logo.svg" class="injectable" width="42" height="42">
                    </picture>
                    <span class="d-none d-smx-block">ETF<span class="d-none d-sm-inline"> - FLASHTRADE</span></span>
                </a>
                <ul id="head_nav" class="navbar-nav flex-menu mr-auto d-none d-xl-flex">
                    <li class="nav-item active">
                        <a class="nav-link" href="/card.html">Оффер</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="services.html">Услуги</a>
                        <ul>
                            <li class="nav-item">
                                <a class="nav-link" href="/services_list.html">Услуги с ЦА</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/services_list_links.html">Услуги без ЦА</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/ability.html">
                            Компетенции
                        </a>
                        <ul>
                            <li class="nav-item">
                                <a class="nav-link" href="/ability_inner.html">Для директора</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/comments.html">Отзывы</a>
                    </li>
                    <li class="nav-item">
                        <a href="/projects.html" class="nav-link">
                            Проекты
                        </a>
                    </li>
                </ul>
            </div>
            <div class="navbar-right">
                <div class="head-contacts d-flex">
                    <div class="head-contacts-social d-flex align-items-center">
                        <ul class="list-social d-flex">
                            <li class="list-social-item">
                                <a href="#" class="text-primary">
                                    <img src="../img/icons/telegram-plane.svg" width="24" height="24" fill="#317fcf" class="injectable">
                                </a>
                            </li>
                            <li class="list-social-item">
                                <a href="#" class="text-primary">
                                    <i class="fab fa-whatsapp"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="head-contacts-phone d-flex align-items-center mx-2">
                        <a href="tel:+74952255249">+7 (495) 225-52-49</a>
                    </div>
                    <button class="mburger d-block d-xl-none" data-bs-toggle="offcanvas" data-bs-target="#menu" role="button" aria-controls="offcanvasMenu">
                        <b></b>
                        <b></b>
                        <b></b>
                    </button>
                </div>
            </div>
        </div>
<!--        <a ref="#menu" class="mburger d-none d-xxl-block" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu"-->
<!--           aria-controls="offcanvasMenu">-->
<!--            <b></b>-->
<!--            <b></b>-->
<!--            <b></b>-->
<!--        </a>-->
    </nav>
</header>
