<section class="section section-question bg-dark dark">
  <div class="container question-block">
    <div class="row justify-content-between" data-aos="fade-zoom-in" data-aos-delay="100"
         data-aos-duration="3000">
      <div class="col-md-4 d-flex align-items-center mb-3 mb-lg-0">
        <div class="title-h2 title-thin">
          Остались вопросы?
        </div>
      </div>
      <div class="col-md-3 d-flex align-items-center mb-3 mb-lg-0">
        <div class="question-block-text">
          Отправьте заявку и мы свяжемся с Вами
          в ближайшее время
        </div>
      </div>
      <div class="col-md-4 col-xl-3 d-flex align-items-center">
        <button class="btn btn-primary dark">
          Отправить заявку
        </button>
      </div>
    </div>
  </div>
</section>
