<section class="section section-trade bg-grey bg-bubbles">
	<div class="container-xl trade-block">
		<div class="row" data-aos="fade-zoom-in" data-aos-delay="100" data-aos-duration="3000">
			<div class="col-auto">
				<div class="title-h1 m-0">
					Затраты на IT = <br>
					Инвестиции в развитие компании
				</div>
			</div>
			<div class="col-auto">
				<div class="trade-block-text my-3 my-lg-5">
					На вашем предприятии мы выстроим систему, в которой затраты на IT будут являться инвестициями в
					<br>
					будущее и рост компании.
				</div>
			</div>
		</div>

		<div class="trade-block-list row" data-aos="fade-zoom-in" data-aos-delay="100" data-aos-duration="3000">
			<div class="trade-block-list-item col-md-6 d-flex align-items-center align-items-xl-start">
				<img src="../img/icons/page-main/icon_web.svg" class="injectable">
				<div class="title-h3">
					Касса одного окна
				</div>
			</div>
			<div class="trade-block-list-item row col-md-5">
				<div class="trade-block-list-item-text">
					Мы осуществляем комплексные поставки IT-оборудования, настройку, запуск и обслуживания
					выстроенных нами систем.
					Вам не нужны 10 различных компаний, достаточно только нас!
				</div>
			</div>
			<div class="col-12 hr-grey"></div>
			<div class="trade-block-list-item col-md-6 d-flex align-items-center align-items-xl-start">
				<img src="../img/icons/page-main/icon_settings.svg" class="injectable">
				<div class="title-h3">
					Собственный сервисный центр
				</div>
			</div>
			<div class="trade-block-list-item col-md-5">
				<div class="trade-block-list-item-text">
					Мы не просто продаем, но и готовы починить и обслужить.
				</div>
			</div>
			<div class="col-12 hr-grey"></div>
			<div class="trade-block-list-item col-md-6 d-flex align-items-center align-items-xl-start">
				<img src="../img/icons/page-main/icon_brands.svg" class="injectable">
				<div class="title-h3">
					Сертифицированы 20+ вендорами
				</div>
			</div>
			<div class="trade-block-list-item col-md-5">
				<div class="trade-block-list-item-text">
					Поэтому готовы обеспечить решения различной сложности и на любой бюджет.
				</div>
			</div>
			<div class="col-12 hr-grey"></div>
			<div class="trade-block-list-item col-md-6 d-flex align-items-center align-items-xl-start">
				<img src="../img/icons/page-main/icon_circle.svg" class="injectable">
				<div class="title-h3">
					От небольшого производства до госкорпораций
				</div>
			</div>
			<div class="trade-block-list-item col-md-5">
				<div class="trade-block-list-item-text">
					Мы работаем с клиентами различной величины. Этот факт позволит общаться с любой аудиторией в
					рамках целевой.
				</div>
			</div>
		</div>
	</div>
</section>
