//input:-webkit-autofill,
//input:-webkit-autofill:hover,
//input:-webkit-autofill:focus,
//input:-webkit-autofill:active {

//  -webkit-box-shadow: inset 0 0 0 30px $c-skin;
//  transition: background-color 5000s ease-in-out 0s;
//  background: rgba($c-dark, .3) !important;
//}

@-webkit-keyframes autofill {
  0%,100% {
    color: #666;
    background: transparent;
    -webkit-box-shadow: inset 0 0 0 30px $c-skin;
    -webkit-text-fill-color: $c-dark;
  }
}
input:-internal-autofill-previewed,
input:-webkit-autofill {
  -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

.form-control {
  background: transparent;
}

input[type="checkbox"] {
  border-radius: 3px !important;
}


.form {

}
