.list-group {
  .title-h4::marker {
    color: transparent;
  }
  &-item {
    background: transparent;
    p {
      font-size: 17px;
    }
  }
}

.list-social {
  list-style: none;
  &-item a {
    margin: 4px;
    text-decoration: none;
  }
}

.list-group {
  &-item {
    margin: 14px 0;
    padding: 0;
    display: flex;
    align-items: center;
    border: 0;
    svg {
      margin-right: 29px;
    }
  }
}

.list-group-check {
  margin: 0;
  padding: 0;
  list-style: none;

  &-item {
    margin: 0 0 14px 0;
    display: flex;
    align-items: center;
    background: transparent;

    @include media-breakpoint-down(xl) {
      margin: 0 0 11px 0;
      font-size: 14px;
    }

    &:before {
      display: block;
      margin-right: 20px;
      content: '';
      width: 32px;
      height: 32px;
      background-image: url("data:image/svg+xml,%3Csvg class='svg-inline--fa fa-check' aria-hidden='true' focusable='false' data-prefix='fas' data-icon='check' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' data-fa-i2svg=''%3E%3Cpath fill='%2337acff' d='M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z'%3E%3C/path%3E%3C/svg%3E%0A");;
      background-repeat: no-repeat;
      flex-shrink: 0;

      @include media-breakpoint-down(xl) {
        margin-right: 10px;
        width: 20px;
        height: 20px;
      }
    }
  }
}

.list-group-numbered {
  padding: 0;

  .list-group-item {
    @include media-breakpoint-down(sm) {
      margin: 4px 0;
      font-size: 14px;
    }

    &:before {
      margin-right: 10px;
      color: $c-secondary;
    }
  }
}
